body {
    height: 100vh;
}

header {
    background-color: red;
}

footer {
    background-color: brown;
}

.center {
    background-color: purple;
}

.left {
    background-color: green;
}

.right {
    background-color: blue;
}

.q-1 {
    border: 1px solid;
}

.q-2 {
    border: 1px solid;
}

.q-3 {
    border: 1px solid;
}

.q-4 {
    border: 1px solid;
}